:root {
    --background: #e9eaf0;
    --edge: #cacad9;
    --text-light: #707070;
    --text: #1f1f21;
    --accent: #FF8237;
    --accent-light: #ffa76a;
    --radius-small: 0.4rem;

    --warning: #e65c5c;
    --warning-light: #e69c9c;
    --warning-background: #f2c9c9;
}

body {
    font-family: "Roboto Light", system-ui;
    background: var(--background);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--text);
    text-decoration: none;
}
