:root {
    --background: #e9eaf0;
    --edge: #cacad9;
    --text: #1f1f21;
    --accent: #FF8237;
}

:root {
    font-family: "Roboto Light", system-ui;
    background: var(--background);
    margin: 0;
}
