# PostgreSQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=
SERVER_PORT=
DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Neo4j
NEO4J_AUTH=
SPRING_NEO4J_URI=
SPRING_NEO4J_AUTHENTICATION_USERNAME=
SPRING_NEO4J_AUTHENTICATION_PASSWORD=

