<head>
    <title>Spotlight!</title>
    <link rel="stylesheet" th:href="${cssRef}" th:each="cssRef: ${@cssDiscoveryService.getAllCssPaths()}">
</head>
<body th:fragment="">
<div th:insert="~{fragments/app-wide/navbar :: navbar}" class="navbar"></div>
<main class="standard-page-layout">
    <div class="article-page-layout">
        <div th:replace="~{fragments/articles/full-article :: full-article(article)}"></div>

        <section id="comment-section-container"
                 th:data-article-id="${article.id}">
            <p>Loading comments...</p>
        </section>
    </div>

</main>
<script type="module" src="/js/article-page.js"></script>
<footer th:replace="~{fragments/app-wide/footer :: footer}"></footer>
</body>
