<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Edit user</title>
        <link rel="stylesheet"
              th:each="cssRef : ${@cssDiscoveryService.getAllCssPaths()}"
              th:href="${cssRef}">
    </head>

    <body>
        <div th:insert="~{fragments/app-wide/admin-navbar :: navbar}" class="navbar"></div>

        <main class="standard-page-layout">
            <div class="create-user-page">
                <h2>Edit user</h2>
                <h4>Edit or delete user</h4>
                <div th:if="${errorMessage}" th:text="${errorMessage}" class="error-container"></div>
                <div class="create-user-form-container">
                    <form class="create-user-form" th:action="@{/manage-users/update}" method="post">
                        <input type="hidden" name="id" th:value="${currentUser.id}">
                        <label><b>First name:</b>
                            <input type="text" name="firstName" th:value="${currentUser.firstName}">
                        </label>
                        <label><b>Prefix:</b>
                            <input type="text" name="prefix" th:value="${currentUser.prefix}">
                        </label>
                        <label><b>Last name:</b>
                            <input type="text" name="lastName" th:value="${currentUser.lastName}">
                        </label>
                        <label><b>Role:</b>
                            <select name="roleId">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.roleName}"
                                        th:selected="${role.id == currentUser.roleId}"></option>
                            </select>
                        </label>
                        <button class="create-user-button" type="submit">Update user</button>
                    </form>
                </div>
                <br>
                <a class="return-button-admin" th:href="@{/manage-users}">Return</a>
                <a class="delete-user-button" th:href="@{/manage-users/confirm-delete(userId=${currentUser.Id})}">Delete user</a>
            </div>
        </main>
        <footer th:replace="~{fragments/app-wide/footer :: footer}"></footer>
    </body>
</html>