<head>
    <title>Spotlight!</title>
    <link rel="stylesheet" th:href="${cssRef}" th:each="cssRef: ${@cssDiscoveryService.getAllCssPaths()}">
</head>
<body>
    <div th:insert="~{fragments/app-wide/navbar :: navbar}" class="navbar"></div>
    <main class="standard-page-layout">
        <h1>Your Personal Feed</h1>
        <div th:replace="~{fragments/articles/article-list :: article-list(articles=${articles}, url=${'/article/'})}"></div>
        <div class="pagination-navigator">
            <a class="pagination-navigator--hyperlink" th:if="${currentPage >= 2}" th:href="'/?page=' + (${currentPage} - 1)">Prev</a>
            <span class="pagination-navigator--page-count" th:text="${currentPage}"></span>
            <a class="pagination-navigator--hyperlink" th:if="${articles.length >= 20}" th:href="'/?page=' + (${currentPage} + 1)">Next</a>
        </div>
    </main>
    <footer th:replace="~{fragments/app-wide/footer :: footer}"></footer>
</body>