<head>
    <title>Profile Page</title>
    <link rel="stylesheet" th:href="${cssRef}" th:each="cssRef: ${@cssDiscoveryService.getAllCssPaths()}">
</head>
<body>
<div th:insert="~{fragments/app-wide/navbar :: navbar}" class="navbar"></div>
    <div class="profile-page">
        <div class="profile-picture">profile pic</div>
        <div class="profile-username" th:text="${profile.getUsername()}"></div>

        <div th:each="pronoun : ${profile.pronouns}" th:text="${pronoun}"></div>

        <a th:if="${editable}" th:href="@{/my-profile-edit}">Edit profile</a>
        <div th:if="${profile.bio}" th:text="${profile.bio}"></div>


        <div th:each="interest : ${profile.interests}" th:text="${interest}"></div>

        <div th:each="field : ${profile.customFields}" th:if="${field.label != null}">
            <span th:text="${field.label}"></span>: <span th:text="${field.value}"></span>
        </div>

        <div th:each="social : ${profile.socials}" th:if="${social.type != null}">
            <span th:text="${social.type}"></span>: <span th:text="${social.username}"></span>
        </div>
    </div>
</body>