<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Create Account</title>
        <link rel="stylesheet"
              th:each="cssRef : ${@cssDiscoveryService.getAllCssPaths()}"
              th:href="${cssRef}">
    </head>

    <body>
        <div th:insert="~{fragments/app-wide/navbar :: navbar}" class="navbar"></div>
        <main class="standard-page-layout">
            <h1>Create Account</h1>

            <form th:action="@{/register}" method="post">
                <div>
                    <label>First name
                        <input type="text" name="firstName" required>
                    </label>
                </div>

                <div>
                    <label>Prefix
                        <input type="text" name="prefix">
                    </label>
                </div>

                <div>
                    <label>Last name
                        <input type="text" name="lastName" required>
                    </label>
                </div>

                <div>
                    <label>Email
                        <input type="email" name="email" required>
                    </label>
                </div>

                <div>
                    <label>Password
                        <input type="password" name="password" required>
                    </label>
                </div>

                <button type="submit">Create account</button>
            </form>
        </main>
        <footer th:replace="~{fragments/app-wide/footer :: footer}"></footer>
    </body>

</html>