<div th:fragment="comment" xmlns="http://www.w3.org/1999/html">
    <span class="author-name" th:text="${comment.creatorName ?: 'Unknown User'}"></span>
    <p class="comment-body" th:text="${comment.commentBody}">
        Placeholder text if loading this comment has failed. Apologies for the inconvenience. -Hardwerkende Nederlanders
    </p>

    <small class="local-time"
           th:data-timestamp="${comment.createdAt}"
           th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}">
    </small>

    <div class="replies-container" th:id="'replies-for-' + ${comment.id}"></div>
    <button class="load-replies-button" th:data-parent-id="${comment.id}">
        View Replies
    </button>

</div>
