<div th:fragment="full-article(article, subject)" class="content-section">
    <h1 th:text="${article.Title}"></h1>
    <span th:insert="~{fragments/articles/likes-dislikes :: likes-dislikes}"></span>
    <span th:insert="~{fragments/users/username :: username}"></span>
    <div th:text="'Subject:'+ (${subject} != null ? ${subject} : 'Undefined')"></div>
    <div th:text="'Created On: ' + ${#temporals.format(article.createdAt, 'dd-MM-yyyy')}"></div>
    <div th:if="${article.updatedAt != null}" th:text="'Last Update: ' + ${#temporals.format(article.updatedAt, 'dd-MM-yyyy')}"></div>
    <div class="full-article__md-container" th:attr="data-markdown=${article.TextContent}">
    </div>
</div>