<footer th:fragment="footer" class="footer">
    <div class="footer--section">
      <h2>Hardwerkende Nederlanders</h2>
        <p>A Hardwerkende Nederlanders product. ©2026 all rights reserved</p>
    </div>

    <div class="footer--section">
        <h2>Contact</h2>
        <p>Please reach out to us on one of the following channels</p>
        <ul>
            <li>Phone:+31 06 12345678</li>
            <li>Email: hardwerkende@nederlanders.support</li>
            <li>Fax: +31 010 12345678</li>
        </ul>
    </div>

    <div class="footer--section">
        <h2>
            Privacy statement
        </h2>
        <a href="https://404:page-not-found.com">we don't do that around these parts</a>
    </div>
</footer>