.pagination-navigator {
    display: flex;
    background-color: var(--accent);
    color: var(--text);
    border-radius: 1rem;
    gap: 1rem;
    align-items: center;
}

.pagination-navigator--hyperlink {
    transition: background-color, color 200ms;
    padding: 0.5rem;
    border-radius: 1rem;
}

.pagination-navigator--hyperlink:hover{
    background-color: var(--text);
    color: var(--accent);
}

.pagination-navigator--page-count{
    padding: 0.5rem;
}