#comment-section-container {
}

.comment-section--list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.author-name {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--accent);
}

.comment-body {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.replies-container {
    display: flex;
    flex-direction: column;
}

.load-replies-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    font-size: 0.8rem;
    cursor: pointer;
}

.local-time {
    display: block;
    font-size: 0.7rem;
    color: var(--text-light);
    margin-bottom: 0.3rem;
}

.comment-section--create textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    border: solid var(--edge) 0.1rem;
    border-radius: var(--radius-small);
    padding: 0.5rem;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.error-container {
    border: solid var(--warning-light) 0.1rem;
    border-radius: var(--radius-small);
    padding: 0.5rem;
    background: var(--warning-background);
    color: var(--warning);
    font-size: 0.8rem;
    width: fit-content;
    max-width: 90%;
    margin-bottom: 0.5rem;
}