<body>
    <nav>
        <h1>
            HR CMS
        </h1>
        <strong>See It All</strong>
    </nav>
    <div>
        <h1>
            New:
        </h1>
        <div>
            <span>New Login System</span>
            <p>
                The new login system has been rolled out without any bugs.
                Much coffee has been drunk in celebration.
            </p>
        </div>
        <div>
            <span>Stadslab is expanding</span>
            <p>
                4 new printers added
            </p>
        </div>
    </div>
</body>